<div style="padding-bottom: 50px">
  Streaming in progress: {{ isDataStreamingInProgress | async }}
</div>

<ng-container *ngIf="!isLoading; else loadingIndicator">
  <ng-container *ngIf="tweetStream?.length; else noData">
    <tweet-card
      *ngFor="let tweet of tweetStream; trackBy: tweetTrackBy"
      [data]="tweet"
    >
    </tweet-card>
  </ng-container>

  <ng-template #noData>
    <nz-empty></nz-empty>
  </ng-template>
</ng-container>

<ng-template #loadingIndicator>
  <nz-skeleton [nzActive]="isLoading"></nz-skeleton>
  <nz-skeleton [nzActive]="isLoading"></nz-skeleton>
  <nz-skeleton [nzActive]="isLoading"></nz-skeleton>
</ng-template>
